 server {
     listen 80;
     listen [::]:80;
     server_name mysite www.mysite;

     return 301 https://$host$request_uri;
 }
 server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name mysite www.mysite;

    ssl on;
    ssl_certificate /etc/ssl/nginx-selfsigned.crt;
    ssl_certificate_key /etc/ssl/nginx-selfsigned.key;

    root /var/www/mysite;
    autoindex on;
    index index.php index.html index.htm index.nginx-debian.html;
	location / {
		try_files $uri $uri/ =404;
	}
	location ~ \.php$ {
		include snippets/fastcgi-php.conf;
		fastcgi_pass unix:/var/run/php/php7.3-fpm.sock;
	}
 }